* {
  box-sizing: border-box;
}
h1 {
  text-align:center;
  margin-bottom: 15px;

}
div> div {
  border: 1px solid black;
  background-color: #EEEDEF;
  width: 30%;
  height: 150px;
  margin:10px;  
  float:left;
  padding:10px;
  position:relative;
}

.p1{ margin:10px;
  padding: 10px;
  font-family: Helvetica;
  color: #112013;

}
.p2,.p2b,.p2c{
  border: 1px solid black;
  width: 18%;
  height:12%;
  position:absolute;
  top:-16px;
  right:0;
}
.p2{  background-color: #7788EF;}
.p2b{  background-color: #77EF77;}
.p2c{  background-color: #EF7788;}
.row {
  width: 100%;
  //background-color: red;
  //border:1px solid green;
}
/********** Mobile devices only **********/
@media (max-width: 767px) {
  .WidthMobile {
    float:left;
    border: 1x solid black;
    width:96%;

  } 
}
/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .WidthTablet{
    float:left;
    border: 1px solid black;
    width: 45%;
  }
.WidthTabletItem3{
    float:left;
    border: 1px solid black;
    width: 93%;
  
}